# API URL
VITE_API_URL=https://light-keepers-api-955234851806.asia-east1.run.app/api/v1

# LINE Login Config
VITE_LINE_CLIENT_ID=YOUR_LINE_CLIENT_ID

# Google Login Config
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID

# Firebase Config
VITE_FIREBASE_API_KEY=AIzaSyBudn50h4ejV_hQuQRXMRDS_iVWviduKXg
VITE_FIREBASE_AUTH_DOMAIN=light-keepers-mvp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=light-keepers-mvp
VITE_FIREBASE_STORAGE_BUCKET=light-keepers-mvp.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=955234851806
VITE_FIREBASE_APP_ID=1:955234851806:web:66e97938293ac0a8511b4f
